/* Register*/
.KPT {
    height: 70px;
    width: 180px;
    float: inline-block;;
}

.header {
    background-color: #F1CBB5;
    color: black;
    font-size: 10px;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-size: 100%;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*navigation*/
.nav {
    overflow: hidden;
    background-color: #356D65;
    text-align: center;  
}

.nav a {
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
}

.nav a:hover {
    color: darkgreen;
    background-color: whitesmoke;
}

.nav a:active {
    background-color: whitesmoke;
    color: darkgreen;
}

.nav .dropdown {
    overflow: hidden;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -5px;
}

.nav .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-height: 100px;
    box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav .dropdown .dropdown-content a {
    float: none;
    color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav .dropdown-content a:hover{
    background-color: lightgreen;
}
.nav .dropdown:hover .dropdown-content {
    display: block;
}

.nav .dropbtn:hover{
    color: darkgreen;
    background-color: whitesmoke;
}

.h12{
    text-align: center;
    padding: 10px;
    float: none;
}

/*image*/

.slideshow-container {
    display: flex;
    overflow: hidden;
    width: 80%; 
    height: 300px;
    margin: 0 auto; 
    padding: 30px;
  }
  
  .slide {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide:nth-child(1) {
    animation: slideAnimation 15s infinite;
  }
  
  .slide:nth-child(2) {
    animation: slideAnimation 15s infinite 2s;
  }
  
  .slide:nth-child(3) {
    animation: slideAnimation 15s infinite 4s;
  }
  
  .slide:nth-child(4) {
    animation: slideAnimation 15s infinite 6s;
  }
  
  .slide:nth-child(5) {
    animation: slideAnimation 15s infinite 8s;
  }
  
  @keyframes slideAnimation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  

/*table*/
.table-container {
    width: 90%;
    margin: 0 auto; 
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%; 
    margin-top: 100px;
}

table th, .table td {
    border: 2px solid black;
    padding: 8px;
}

table th {
    background-color: #356D65;
}

table tr:nth-child(even) {
    background-color: #F1CBB5;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr :hover {
    background-color: whitesmoke;
}

#span{
    font-weight: bold;
}

/*footer*/
.footer{
    margin-top: 200px;
    background-color: #356D65;
    font-size: 20px;
    padding: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
}

.color{
    color: white;
}