#demo {
    border: 1px solid #007bff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: flex;
    padding: 50px;
    text-shadow: 1px 1px 2px #007bff;
    justify-content: center;
    background-color: #007bff;
    margin: 15% auto;
    width: 80%;
    max-width: 600px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.quiz{
    background-color: #ddd;
    box-shadow: 2px 2px 2px 2px #ddd;
    border-radius: 4px;
    display: block;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.password-checker{
    border: 1px solid #007bff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    display: block;
    padding: 50px;
    text-shadow: 1px 1px 2px #007bff;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.popup{
    background-color: #007bff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style all input fields */
input{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px ;
    margin-left: 16px;  
}

/* Style the submit button */
input[type=submit]{
    background-color: #04aa6d;
    color:white;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

/* Style the container */
.container{
    background-color: #f1f1f1;
    padding:20px;
    margin: 10% 30%;
    width: 50%;
    height: 50%;
    display: block;
    max-width: 600px;
}

#message{
    display: none;
    background: #f1f1f1;
    padding: 20px;
}

#message p{
    font-size: 18px;
    padding: 10px;
}

/* add green text color and checkmark when the requirements are correct */
.valid{
    color: green;
}

.invalid{
    color: red;
}

.valid::before{
    position: relative;
    left: -35px;
    content: "\2713";
}

.invalid::before{
    position: relative;
    left: -35px;
    content: "\2716";
}
