* {
    box-sizing: border-box;
    text-align: justify;
  }
.header {
    background-color: navajowhite;
    padding: 30px;
}

.header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo1 {
    float: left;
}

.logo2 {
    float: right;
}

.nav {
    background-color: darkslategray;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    ;
    text-align: center;
    justify-content: space-between;
}

.nav a:hover {
    color: black;
    background-color: #bbb;
}

footer {
    background-color: navajowhite;
    text-align: center;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

table {

    background-color: rgb(255, 243, 150);
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid black;
}

table th,
table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

table td:hover {
    background-color: rgb(219, 246, 180);
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(158, 141, 61);
    padding: 10px;
    color: white;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }

  button{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: darkslategray;
    width: 100%;
    border-radius: 10px;
  }

  button:hover {
    size-adjust: 30%;
    background-color: rgb(57, 71, 71);

  }