.KPT{
    height: 70px;
    width: 180px;
    display: inline-block;
}

body{
    background: linear-gradient(to bottom, #f8f0eb, rgb(210, 245, 210));
}

.header{
    background-color: #F1CBB5;
    color: black;
    font-size: 10px;
    text-align: center;
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-size: 100%;
}

.nav {
    overflow: hidden;
    background-color: #356D65;
    text-align: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: darkgreen;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: darkgreen;
}

.nav-link:hover {
    color: darkgreen;
}

.nav .dropdown {
    overflow: hidden;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -5px;
}

.nav .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav .dropdown .dropdown-content a {
    float: none;
    color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 118px;
}




@keyframes rotateAndMove {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) translateX(10px);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav .dropdown-content a:hover {
    background-color: lightgreen;
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

.nav .dropbtn:hover {
    color: darkgreen;
    background-color: whitesmoke;
}

/* Content */
.content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.map-section {
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
    margin: 50px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.social-icons {
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
}

.content h1 {
    color: darkgreen;
}

.content iframe {
    width: 100%;
    height: 450px;
    border: none;

}

.follow-icons {
    margin-top: 40px;
    max-width: 400px;
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
    margin: 50px auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.follow-icons a:hover {
    color: #356D65;
}

a{
    text-decoration: none;
}

/* Footer */
.footer {
    margin-top: 200px;
    background-color: #356D65;
    font-size: 20px;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

